.S_Container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}
.S_Title{
    letter-spacing: .25em;
    text-align: center;
}
.S_Grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    &>.S_Card {
        align-self: center;
        place-self: center;
        background-color: #292929;
        padding: 15px 25px;
        border-radius: 10px;
        border: 1px solid #3b3b3b;
        cursor: pointer;
        transition: 2s;
    }
}
.S_Card:nth-child(1) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #ba0eee);
    filter: drop-shadow(0px 0px 20px #ba0eee);
}
.S_Card:nth-child(2) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #e7b0f87a);
    filter: drop-shadow(0px 0px 20px #e7b0f87a);
}
.S_Card:nth-child(3) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #eed80e);
    filter: drop-shadow(0px 0px 20px #eed80e);
}
.S_Card:nth-child(4) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #0e82ee);
    filter: drop-shadow(0px 0px 20px #0e82ee);
}
.S_Card:nth-child(5) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #eed80e);
    filter: drop-shadow(0px 0px 20px #eed80e);
}
.S_Card:nth-child(6) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #fdfbfdc9);
    filter: drop-shadow(0px 0px 20px #fdfbfdc9);
}
.S_Card:nth-child(7) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #e7b0f87a);
    filter: drop-shadow(0px 0px 20px #e7b0f87a);
}
.S_Card:nth-child(8) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #0eeeee);
    filter: drop-shadow(0px 0px 20px #0eeeee);
}
.S_Card:nth-child(9) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #C0C0C0);
    filter: drop-shadow(0px 0px 20px #C0C0C0);
}
.S_Card:nth-child(10) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #ee850e);
    filter: drop-shadow(0px 0px 20px #ee850e);
}
.S_Card:nth-child(11) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #0e89ee);
    filter: drop-shadow(0px 0px 20px #0e89ee);
}
.S_Card:nth-child(12) > img {
    -webkit-filter: drop-shadow(0px 0px 8px #0e89ee);
    filter: drop-shadow(0px 0px 20px #0e89ee);
    width: 70px;
    color: #fff;
}

.S_Card:nth-child(1):hover {
    transition: .1s;
    box-shadow: 0 0 40px #ba0eee;
    border: 1px solid #ba0eee;
}

.S_Card:nth-child(2):hover {
    transition: .1s;
    box-shadow: 0 0 40px #0e82ee;
    border: 1px solid #0e82ee;
}

.S_Card:nth-child(3):hover {
    transition: .1s;
    box-shadow: 0 0 40px #eed80e;
    border: 1px solid #eed80e;
}

.S_Card:nth-child(4):hover {
    transition: .1s;
    box-shadow: 0 0 40px #0e82ee;
    border: 1px solid #0e82ee;
}

.S_Card:nth-child(5):hover {
    transition: .1s;
    box-shadow: 0 0 40px #eed80e;
    border: 1px solid #eed80e7a;
}

.S_Card:nth-child(6):hover {
    transition: .1s;
    box-shadow: 0 0 40px #fdfbfdc9;
    border: 1px solid #fdfbfdc9;
}

.S_Card:nth-child(7):hover {
    transition: .1s;
    box-shadow: 0 0 40px #e7b0f87a;
    border: 1px solid #e7b0f87a;
}

.S_Card:nth-child(8):hover {
    transition: .1s;
    box-shadow: 0 0 40px #0eeeee;
    border: 1px solid #0eeeee;
}

.S_Card:nth-child(9):hover {
    transition: .1s;
    box-shadow: 0 0 40px #C0C0C0;
    border: 1px solid #C0C0C0;
}

.S_Card:nth-child(10):hover {
    transition: .1s;
    box-shadow: 0 0 40px #ee850e;
    border: 1px solid #ee850e;
}
.S_Card:nth-child(11):hover {
    transition: .1s;
    box-shadow: 0 0 40px #0e89ee;
    border: 1px solid #0e89ee;
}
.S_Card:nth-child(12):hover {
    transition: .1s;
    box-shadow: 0 0 40px #0e89ee;
    border: 1px solid #0e89ee;
}

@media (max-width:500px) {
    .S_Container{
        margin-top: 150px;
    }
    .S_Grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .S_Title{
        font-size: 20px;
        text-align: center;
    }
}