.N_Container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    background: rgba(11, 11, 11, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 999;
}
.N_Container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* horizontal navbar */
}

.N_Container ul li {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 100 !important;
  position: relative;
  cursor: pointer;
}

.N_Container ul li::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 0; 
  background-color: #fff;
  bottom: 10px;
  left: 0;
  transition: width 0.3s ease; 
}

.N_Container ul li:hover::before {
  width: 70%; 
}

#N_Icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.N_Mobile {
    color: var(--blk);
    font-size: 22px;
    display: none;
}
.N_Item{
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .N_Mobile {
        display: block;
        position: absolute;
        right: 80px;
        z-index: 0;
    }
    .N_Item{
        cursor: pointer;
    }   
    .N_Container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 30px;
        /* From https://css.glass */
        background: rgba(9, 9, 9, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.6px);
        -webkit-backdrop-filter: blur(6.6px);
        border: 2px solid rgba(83, 83, 83, 0.3);
    }

    .N_Title {
        align-self: flex-start;
    }

    #N_Menus {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        right: -300px;
        width: 250px;
        height: 90vh;
        background: rgba(9, 9, 9, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.6px);
        -webkit-backdrop-filter: blur(6.6px);
        border: 2px solid rgba(83, 83, 83, 0.3);
        top: 44px;
        transition: .7s;
    }

    #N_Menus.active {
        right: 0px;
        transition: .7s;
    }

    #N_Icons.active {
        right: 0px;
        transition: .7s;
    }

   ul li {
        margin-top: 20px;
    }

    #N_Icons {
        position: fixed;
        bottom: 0;
        top: 450px;
        width: 250px;
        right: -400px;
        display: flex;
        /* gap: 30px; */
        margin-left: 50px;

    }
}