.Navbar_Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
.N_Item{
    list-style: none;
    display: inline;
    padding-left: 20px;
}
.N_Link{
    color: var(--black);
    position: relative;
}
.N_Link::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: var(--orange);
    border-radius: 20px;
    bottom: -4px;
    transition: .7s;
}
.N_Link:hover::before{
    width: 100%;
    transition: .7s;
}
a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.N_Icons_01{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--orange);
    padding: 4px 20px;
    border-radius: 15px;
    transition: .4s;
    font-weight: bold;
    box-shadow: 0 0 10px var(--orange), 2px -3px 3px #c98507 inset;
}
.N_Icons_01:hover{
    color: var(--white);
    transition: .4s;
}

.toggle_Menu{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.toggle_Line{
    height: 3px;
    width: 25px;
    background-color: var(--black);
    border-radius: 5px;
}
.N_Toggle.click,
.N_Links.click,
.N_Icons_01.click{
    display: block;
}
@media (max-width: 900px) {
    .Navbar_Container{
        flex-direction: column;
        align-items: flex-start;
    
    }
    .N_Toggle{
        display: none;
    }
    
    .N_Item{
        position: relative;
        left: -60px;
        display: flex;
        flex-direction: column;
    }
    .N_Links{
        display: none;
    }
    .N_Icons_01{
        display: none;
    }
    .toggle_Menu {
        display: flex;
        align-self: flex-end;
        position: absolute;
    }
}