:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-weight: 200;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blk: #213547;
  --blklight: #535bf2;
  --blkdark: #1a1a1a;
  --blkdark200: #242764;
  overflow-x: hidden;

}

a {
  font-weight: 500;
  color: #fff !important;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0%;
  overflow-X: hidden;
  background-color: #1a1a1a;
  /* background-image: linear-gradient(180deg, #1a1a1a , #242764); */
}

li {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

